<div>
	<h3>D&eacutetails M&eacutedia</h3>

	<!-- 		<form ng-submit="modify()"> -->
	<!-- 			<input type="text" ng-model="media.titre" -->
	<!-- 				size="{{media.titre.length}}" placeholder="Titre" /> Type: -->
	<!-- 			<div class="row"> -->
	<!-- 		<select ng-model="media.type"> -->
	<!-- 			<option>Livre</option> -->
	<!-- 			<option>CD</option> -->
	<!-- 			<option>DVD</option> -->
	<!-- 		</select> -->
	<!-- 		<div> -->
	<!-- 			<input type="text" ng-model="media.auteur" placeholder="Auteur" /> -->
	<!-- 		</div> -->

	<form ng-submit="modify()">

		<div class="row">
			<fieldset class="form-group col-md-offset-1 col-md-4">
				<label for="titre">Titre :</label> <input ng-model="media.titre"
					size="{{media.titre.length}}" type="texte" class="form-control"
					id="type" placeholder="type">
			</fieldset>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-1">
				<fieldset class="form-group ">
				<label for="type">Type :</label> 
				<select class="form-control" ng-model="media.type">
					<option>Livre</option>
					<option>DVD</option>
					<option>CD</option>
					<br>
				</select>
				</fieldset>
			</div>
		</div>
		<div class="row">
			<fieldset class="form-group col-md-offset-1 col-md-4">
				<label for="auteur">Auteur :</label> <input ng-model="media.auteur"
					type="texte" class="form-control" id="auteur" placeholder="Auteur">
			</fieldset>
		</div>

		<div>
			<button class="col-md-offset-1 btn btn-primary" type="submit">Enregistrer
				Modification</button>
		</div>
	</form>
</div>
<div>
	<h3>Ajouter un emprunteur</h3>
	<form ng-submit="addEmprunt()">
		<div class="col-md-offset-1 col-md-3">
			<select class="form-control" ng-model="adh"
				ng-options="adherent.nom for adherent in ListAdherent"
				ng-required="true">
					<option value="" disabled selected>S&eacutelectionnez un adh&eacuterent</option>
			</select>
		</div>


		 Date de D&eacutebut: <input type='date' ng-model="dateDebut" ng-required="true">

		<div class="row">
			<button class="  col-md-offset-1 btn btn-primary" type="submit">Ajouter</button>
		</div>
	</form>
</div>
<div class="col-md-9">
	<label >Emprunt&eacute par: </label>
	<table class="table table-bordered table-hover ">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Date Retour</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="emprunteur in media.emprunteurs" ng-click="goTo(emprunteur.adherent.id)">
				<td ng-bind="emprunteur.adherent.nom"></td>
				<td ng-bind="putDate(emprunteur.retour)"></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- 	<pre>{{media | json}}</pre> -->
</div>